.content-phone {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  margin: 10px;
  border-radius: 15px;
  padding: 20px;
}

.step {
  display: none;
}
.verify {
  padding: 10px;
  box-shadow: none;
}
.btnOrder {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.borderBot {
  border-bottom: 1px solid #f3f3f3;
}

.c1 {
  color: #f17228;
}
.c2 {
  color: #a9acb0;
}
.bold {
  font-weight: 500;
}
.box {
  width: 10px;
  height: 18px;
  background-color: #f17228;
  margin-right: 5px;
}
.font7 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #f17228;
}
.font8 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
.order-btn {
  background: #f17228;
  border-radius: 10px;
  border: none;
  padding: 10px;
  color: white;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.history-btn {
  background: #ffd7bf;
  border-radius: 10px;
  border: none;
  padding: 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.border4 {
  border-top: 1px solid #fabf9d;
}
@media (max-width: 767px) {
  .tablet-desktop {
    display: none;
  }
  .phone {
    display: block;
  }
}

@media (min-width: 768px) {
  .tablet-desktop {
    display: block;
  }

  .step {
    background: #f17228;
    color: white;
    padding: 10px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    border-radius: 20px;
    display: inline;
  }
  .verifyb {
    padding: 50px 80px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    height: 650px;
  }

  .borderBot {
    border-bottom: 1px solid #f3f3f3;
  }

  #order-button {
    width: 100%;
    padding: 13px;
    background: #f17228;
    color: white;
    border: none;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
  }

  #close-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }
  .verify1 {
    padding: 0 20px 0 0;
    height: 750px;
    border: none;
  }
  .border2 {
    box-shadow: 6px 0 5px -5px rgba(0, 0, 0, 0.05);
  }
  .border3 {
    border-bottom: 1px solid #f3f3f3;
  }
  .textOrder {
    display: none;
  }
  .image-good {
    width: 35px;
    height: 35px;
    background: rgba(241, 114, 40, 0.2);
    border-radius: 10px;
    padding: 6px;
    margin-right: 10px;
  }
  .font {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
  }
  .font1 {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 140%;
  }
  .font2 {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 140%;
    color: #f17228;
  }
  .font3 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
  .font4 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #b5b5b5;
  }
  .font5 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
  }
  .font6 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1025px) {
  .textOrder {
    display: block;
  }
  .verify {
    padding: 50px 80px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    height: 750px;
  }

  .verify1 {
    padding: 50px 80px !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    height: 750px;
  }
}
